<!DOCTYPE html>

<html>
<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   <meta name="apple-mobile-web-app-capable" content="yes" />
   <meta name="apple-mobile-web-app-title" content="Dashboard">
   <meta name="apple-mobile-web-app-status-bar-style" content="black">
   <meta name="mobile-web-app-capable" content="yes">
   <meta name="msapplication-tap-highlight" content="no" />
   <meta name="msapplication-TitleImage" content="@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("/styles/favicons/48.png"))">
   <meta name="msapplication-TitleColor" content="#fff">
   <meta name="theme-color" content="blue">
   <link rel="manifest" href="/manifest.json" />

   <title>@ViewBag.Title | @H("Quản lý trực tuyến")</title>
   <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
   <link rel="icon" href="/favicon.ico" type="image/x-icon">
   @{
      var app = System.Web.Configuration.WebConfigurationManager.AppSettings;
      var css = new List<StyleSheet>();
      var js = new List<Script>();
      if (!string.IsNullOrEmpty(app["ExtensionSuite"]))
      {
         foreach (var ext in app["ExtensionSuite"].Split(','))
         {
            css.Add(new StyleSheet() { ExtensionSuite = (ExtensionSuite)Enum.Parse(typeof(ExtensionSuite), ext) });
            js.Add(new Script() { ExtensionSuite = (ExtensionSuite)Enum.Parse(typeof(ExtensionSuite), ext) });
         }
      }
      if (!string.IsNullOrEmpty(app["ExtensionType"]))
      {
         foreach (var ext in app["ExtensionType"].Split(','))
         {
            css.Add(new StyleSheet() { ExtensionType = (ExtensionType)Enum.Parse(typeof(ExtensionType), ext) });
            js.Add(new Script() { ExtensionType = (ExtensionType)Enum.Parse(typeof(ExtensionType), ext) });
         }
      }
   }

   @Html.DevExpress().GetStyleSheets(css.ToArray())
   @Html.DevExpress().GetScripts(js.ToArray())
   <link href="~/Styles/img.sprite.css" rel="stylesheet" />
   @RenderSection("style", false)
   <script type="text/javascript">
      if ('serviceWorker' in navigator) {
         navigator.serviceWorker
            .register('/sw.js')
            .then(function () {
               //console.log("Service Worker registered successfully");
            })
            .catch(function () {
               //console.log("Service worker registration failed")
            });
      }
   </script>
</head>

<body style="user-select: none;">
   @RenderBody()
   @RenderSection("script", false)
</body>
</html>